build/
*.opensdf
*.suo
*.sdf
*.swp
/bin
/projects/vs2012/*.user
*.psess
projects/CodeBlocksLinux/fonts
projects/CodeBlocksLinux/data
projects/CodeBlocksLinux/*.txt

*.vsp
*.user

*.opendb
.vs/
*.db
*.vspx
*.vsps

*/Release/*
ipch
